[submodule "apps/damian_private"]
	path = apps/damian_private
	url = git@github.com:damiannz/damian_of_apps.git
[submodule "apps/damian"]
	patch = apps/damian
	url = git@github.com:damiannz/damian_public_of_apps.git
	path = apps/damian
[submodule "apps/writer"]
	path = apps/writer
	url = git@github.com:ofTheo/Writer.git
[submodule "addons/ofxPd"]
	path = addons/ofxPd
	url = git@github.com:damiannz/ofxPd.git
